# -- The number of replicas to deploy for the application
replicaCount: 1

# -- Configuration specific to drifthound application
drifthoundConfig: {}
  # APP_URL: https://drifthound.example.com

# -- Configuration Secrets specific to drifthound application
drifthoundSecrets: {}

image:
  # -- Docker image repository
  repository: ghcr.io/treezio/drifthound  # -- Docker image repository
  # -- Docker image pull policy
  pullPolicy: Always  # -- Image pull policy (Always, IfNotPresent, Never)

# -- List of image pull secrets for private repositories
imagePullSecrets: []
  # - name: private-docker-reg-secret

# -- Overrides for chart name (helpful when you want to change the default resource names)
nameOverride: ""
fullnameOverride: ""

# -- Service configurations
service:
  # -- Kubernetes Service type
  type: ClusterIP
  # -- Service port exposed
  port: 80
  # -- Container port to which the service will send traffic
  targetPort: 8080

# -- Service account configurations
serviceAccount:
  # -- Specifies whether a service account should be created
  enabled: false
  # -- Annotations to add to the service account
  annotations: {}

# -- Ingress configurations
ingress:
  # -- Enable or disable Ingress
  enabled: false
  # -- Ingress ClassName
  className: "nginx"
  # -- Ingress Annotations
  annotations: {}
  # -- Hostnames for the Ingress
  hosts: []
    # - host: drifthound.example.com
    #   paths:
  # -- TLS configuration for the Ingress
  tls: []

# -- Resources requests and limits
resources: {}
  # limits:
  #   cpu: "1"
  #   memory: "512Mi"
  # requests:
  #   cpu: "500m"
  #   memory: "256Mi"

# -- Annotations to add to the pod
podAnnotations: {}

# -- Security context for the pod
securityContext: {}

# -- Security context for all containers in the pod
podSecurityContext: {}

# -- Rolling update strategy
rollingUpdate:
  # -- The maximum number of pods that can be created over the desired number of pods
  maxSurge: 1
  # -- The maximum number of pods that can be unavailable during the update process
  maxUnavailable: 1

# -- Affinity rules for pod scheduling
affinity: {}
  # podAntiAffinity:
  #   requiredDuringSchedulingIgnoredDuringExecution:
  #     - labelSelector:
  #         matchExpressions:
  #           - key: app.kubernetes.io/name
  #             operator: In
  #             values:
  #               - drifthound
  #       topologyKey: "kubernetes.io/hostname"

# -- Node selector for pod scheduling
nodeSelector: {}

# -- Tolerations for pod scheduling
tolerations: []

# -- Probes for checking the health of the application
probes:
  readinessProbe:
    enabled: true
    path: /up
    initialDelaySeconds: 5
    periodSeconds: 10
  livenessProbe:
    enabled: true
    path: /up
    initialDelaySeconds: 15
    periodSeconds: 20
  startupProbe:
    enabled: true
    path: /up
    initialDelaySeconds: 10
    periodSeconds: 5

# -- Pod Disruption Budget (PDB) settings
Pdb:
  enabled: false
  minAvailable: 1  # -- Minimum available instances during a voluntary disruption
  maxUnavailable: null  # -- Optionally set the maximum unavailable instances

# -- Horizontal Pod Autoscaler (HPA) configurations
hpa:
  # -- Enable or disable HPA
  enabled: false
  # -- Target CPU utilization percentage for HPA to trigger scaling
  targetCPUUtilizationPercentage: 80
  # -- Maximum number of pods that HPA can scale up to
  maxReplicas: 10
  # -- Minimum number of pods that HPA should maintain
  minReplicas: 2

# -- Database migrations job configuration
migrations:
  # -- Enable or disable database migrations job
  enabled: true
  # -- Database migration job command
  command:
    - /bin/sh
    - -c
    - bundle exec rails db:migrate
  # -- Number of retries before considering the job as failed
  backoffLimit: 3
  # -- Maximum duration (in seconds) for the job to complete
  activeDeadlineSeconds: 600